@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style:normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
  }
  

.fa-solid{
    padding: 5px;
}

.card {
   
    background-color: #328998;
}

.card-title {
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}
.card-text {
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    background-color: #328998;
}

.card-img-top {
    width: auto;
    height: 150px;
}

